@import './base.css';
.login-box {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}
.login-box .login-tishi {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box .login-tishi div {
  width: 84.8vw;
  height: 32.2666666667vw;
  border-radius: 2.6666666667vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.login-box .login-tishi div h4 {
  height: 9.3333333333vw;
  padding: 4vw 2vw 0;
  font-size: 4vw;
  color: #333;
  text-align: center;
}
.login-box .login-tishi div span {
  height: 12.9333333333vw;
  padding: 2.6666666667vw 5.3333333333vw 4vw;
  font-size: 3.3333333333vw;
  color: #888;
  text-align: center;
}
.login-box .login-tishi div p {
  flex: 1;
  font-size: 4vw;
  background-color: #ffe32a;
  text-align: center;
  line-height: 10vw;
}
.login-box h2 {
  height: 11.3333333333vw;
  padding-top: 2vw;
  font-size: 4vw;
  text-align: center;
}
.login-box .login-shu {
  height: 12.5333333333vw;
  border-radius: 2.1333333333vw;
  display: flex;
  overflow: hidden;
  margin-bottom: 3.2vw;
  background-color: #ededed;
}
.login-box .login-shu img {
  width: 6.9466666667vw;
  height: 7.2vw;
  margin-left: 2.9333333333vw;
  margin-right: 2.1333333333vw;
  margin-top: 2.6666666667vw;
}
.login-box .login-shu input {
  flex: 1;
  height: 100%;
  border: none;
  background-color: #ededed;
  padding-left: 1.3333333333vw;
  font-size: 4vw;
  outline: none;
}
.login-box .goreg {
  height: 11.4906666667vw;
  padding-right: 8vw;
  font-size: 3.6vw;
  color: #8d8d8d;
  display: flex;
  justify-content: flex-end !important;
}
.login-box .goreg span {
  line-height: 11.4906666667vw;
}
.login-box > span:nth-of-type(1) {
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 5vw;
  font-size: 3.2vw;
  color: #8d8d8d;
  font-weight: none;
}
.login-box > p:nth-of-type(4) {
  height: 10vw;
  display: flex;
  justify-content: center;
}
.login-box > p:nth-of-type(4) img {
  height: 10vw;
  height: 10vw;
}
.login-box > p:nth-of-type(4) img + img {
  margin-left: 2.6666666667vw;
}
.login-box button {
  margin-top: 10vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: #ffe32a;
  text-align: center;
  line-height: 12vw;
  font-size: 4.5333333333vw;
  border-radius: 1.6vw;
  border: none;
  outline: none;
}