@import './base.css';
* {
  box-sizing: border-box;
}

.mine-box .mine-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  height: 56vw;
  padding: 0 2.6666666667vw;
  padding-top: 16vw;
  position: relative;
}
.mine-box .mine-top .head-portrait {
  height: 27.7333333333vw;
  width: 27.7333333333vw;
  border: 1.0666666667vw solid #c4c4c4;
  border-radius: 13.8666666667vw;
  background-image: url(https://img.mcake.com/customer/default_user.gif?x-oss-process=image/auto-orient,1);
  background-size: cover;
  background-position: center center;
  position: relative;
  position: absolute;
  top: 10.6666666667vw;
}
.mine-box .mine-top .head-portrait .vip {
  height: 7.4666666667vw;
  width: 7.4666666667vw;
  border-radius: 3.7333333333vw;
  background-color: #ffe32a;
  color: #000;
  font-size: 4vw;
  text-align: center;
  line-height: 8vw;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mine-box .mine-top .username {
  box-sizing: content-box;
  margin: 0 2.6666666667vw;
  margin-top: 10.1333333333vw;
  padding-top: 12.1333333333vw;
  background-color: #fff;
  height: 11.0666666667vw;
  color: #000;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  line-height: 11.0666666667vw;
  width: 100%;
  border-radius: 2.6666666667vw;
}
.mine-box .mine-top .qiehuan {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding-bottom: 2.2666666667vw;
  background-color: #fff;
  color: #8d8d8d;
  font-size: 3.2vw;
  text-align: center;
  line-height: 4.8vw;
  height: 4.8vw;
  width: 100%;
}
.mine-box .mine-top .qiehuan img {
  height: 3.2vw;
  width: 3.2vw;
  margin-right: 2.6666666667vw;
}
.mine-box .mine-bottom {
  height: 54.6666666667vw;
  padding: 0 2.6666666667vw;
  display: flex;
  flex-direction: column;
}
.mine-box .mine-bottom ul {
  flex: 1;
  display: flex;
}
.mine-box .mine-bottom ul li {
  border-top: 0.2666666667vw solid #e9e9e9;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mine-box .mine-bottom ul li img {
  height: 8.5333333333vw;
  width: 8.5333333333vw;
}
.mine-box .mine-bottom ul li span {
  height: 3.2vw;
  font-size: 3.2vw;
  color: #8d8d8d;
  margin-top: 2.6666666667vw;
}
.mine-box .mine-bottom ul li + li {
  border-left: 0.2666666667vw solid #e9e9e9;
}
.mine-box .mine-bottom ul + ul li {
  border-bottom: 0.2666666667vw solid #e9e9e9;
}