@import './vw.scss';
.box{
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .mask{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .2);
        .drawer{
            position: absolute;
            left: -50vw;
            width: 50vw;
            height: 100%;
            padding-top: vw(75);
            // float: left;
            transition: all 0.5s;

            background-color: white;
            ul{
                li{
                    box-sizing: border-box;
                    padding-left: vw(20);
                    width: 100%;
                    height: vw(40);
                    border-bottom: 1px solid #ccc;
                    line-height: vw(40);
                    span{
                        margin-left: vw(5);
                    }
                    &:nth-child(1),&:nth-child(4),&:nth-child(5){
                        display: flex;
                        align-items: center;
                        span{
                            display: inline-flex;
                            // display: flex;
                            height: vw(40);
                            width: vw(40);
                            // border-radius: 50%;
                            // background-color: yellow;
                            align-items: center;
                            // background-color: #000;
                            i{
                                display:inline-block;
                                border-radius: 50%;
                                height: vw(24);
                                width: vw(24);
                                font-size: vw(12);
                                color: #000;
                                background-color: #ffe32a;
                                font-style: normal;
                                line-height: vw(26);
                                text-align: center;
                            }
                        }
                    }
                    &:nth-child(3),&:nth-child(2){
                        span{
                            display: inline-flex;
                            height: vw(40);
                            width: vw(40);
                            align-items: center;
                            .icon{
                                display: block;
                                height: vw(16);
                                width: vw(16);
                            }
                            .sjt{
                                background-image: url('../assets//images/sjt.png') ;
                                background-size: 100% 100%;
                            }
                        }
                     
                    }
                }
            }
        }
    }
    .header{
         height: vw(62);
    }
    .container{
        flex: 1;
        overflow-y: auto;
    }
    .footer{
        display: flex;
        height: vw(50);
        li{
            display: flex;
            flex: 1;
            text-align: center;
            line-height: vw(50);
            a{
                flex: 1;
                font-size: vw(15);
                color: #000;
            }
        }
        .jing{
            justify-content: center;
            line-height: vw(50);
            
                font-size: vw(15);
        }
        li+li::before{
            content: '|';
            text-align: left;
            color: #b1b1b1;
            font-size: vw(12);
        }
        .gotohome{
            line-height: vw(50);
            height: vw(44);
            width: 100%;
            background-color: #ffe32a!important;
            text-align: center;
            color: #000;
            font-size: vw(16);
        }
    }
}
// ul{
//     display: flex;
//     height: vw(100);
// }