@import './vw.scss';

// @import '../assets/iconfont/iconfont.css';
.box {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    // justify-content: space-between;
    .container {
        flex: 1;
        overflow-y: auto;
    }

    .mask {
        z-index: 999999;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .2);

        .drawer {
            position: absolute;
            overflow: auto;
            
            left: -50vw;
            width: 50vw;
            height: 100%;
            padding-top: vw(75);
            // float: left;
            transition: all 0.5s;
            background-color: white;

            >ul {
               >li {
                    box-sizing: border-box;
                    padding-left: vw(20);
                    width: 100%;
                    height: vw(40);
                    line-height: vw(40);
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: vw(5);
                    }

                    &:nth-of-type(1),
                    &:nth-of-type(4),
                    &:nth-of-type(5){
                        border-bottom: 1px solid #ccc;
                        span {
                            display: inline-flex;
                            // display: flex;
                            height: vw(20);
                            width: vw(20);
                            // border-radius: 50%;
                            // background-color: yellow;
                            align-items: center;

                            // background-color: #000;
                            i {
                                display: inline-block;
                                border-radius: 50%;
                                height: vw(18);
                                width: vw(18);
                                font-size: vw(12);
                                color: #000;
                                background-color: #ffe32a;
                                font-style: normal;
                                line-height: vw(20);
                                text-align: center;
                            }
                        }
                    }

                    &:nth-of-type(3),
                    &:nth-of-type(2) {
                        border-bottom: 1px dashed #ccc;
                        span {
                            display: inline-flex;
                            height: vw(40);
                            width: vw(40);
                            align-items: center;

                            .icon {
                                display: block;
                                height: vw(16);
                                width: vw(16);
                            }

                            .sjt {
                                background-image: url('../assets//images/sjt.png');
                                background-size: 100% 100%;
                            }
                            .yjt{
                                background-image: url('../assets/images/yjt.png');
                                background-size: 100% 100%;
                            }
                        }

                    }
                   
                }
                ul{
                    li{
                        box-sizing: border-box;
                        padding-left: vw(20);
                        width: 100%;
                        height: vw(40);
                        line-height: vw(40);
                        display: flex;
                        align-items: center;
                        .iconLogo{
                            flex: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i{
                                width: vw(20.6);
                                height: vw(20.6);
                                background-image:url('../assets/images/elf.png');
                                background-size: vw(125) vw(120);
                            }
                        }
                        .select{
                            height: 100%;
                            width: vw(126);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .yjt{
                                background-image: url('../assets/images/yjt.png');
                                background-size: 100% 100%;
                                
                            }
                            .icon {
                                display: block;
                                height: vw(16);
                                width: vw(16);
                            }
                        }
                        .elf_01{
                            background-position: vw(-52) vw(-2.8);
                        }
                        .elf_02{
                            background-position: vw(-100) vw(-1.75);
                        }
                        .elf_03{
                            background-position: vw(-76) vw(-2.8776);
                        }
                        .elf_04{
                            background-position: vw(-6) vw(-26);
                        }
                        .elf_05{
                            background-position: vw(-30) vw(-26);
                        }
                        .elf_06{
                            background-position: vw(-53) vw(-26);
                        }
                        .elf_07{
                            background-position: vw(-29) vw(-3);
                        }
                        .elf_08{
                            background-position: vw(-4.8776) vw(-3);
                        }
                        .elf_09{
                            background-position: vw(-75) vw(-26);
                        }
                    }
                }
                
            }
        }
        .pop{
            
            opacity: 0;
            position: absolute;
            height: vw(120);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 60%;
            background-color: #fff;
            border-radius: vw(10);
            transition: all 0.3s;
            overflow: hidden;
            .pop-header{
                padding: vw(15) vw(7.5) 0;
                .pop-title{
                    height: vw(20);
                    font-size: vw(15);
                    text-align: center;
                    color: #333333;
                }
            }
            .pop-content{
                padding: vw(10) vw(20) vw(15);
                border-bottom: 1px solid #ddd;
                .pop-msg{
                    color: #999999;
                    font-size: vw(13);
                    line-height: 180%;
                    text-align: center;
                }
            }
            .pop-btnAll{
                display: flex;
                height: vw(38);
                font-size: vw(15);
                line-height: vw(38);
                .btn1{
                    flex:1;
                    background-color: #857a72;
                    border: none;
                    color: #fff;
                }
                .btn2{
                    flex:1;
                    background-color: #ffe32a;
                    border: none;
                    color: #000;
                }
            }
        }
    }

    .header {
        background-color: #fff;
        z-index: 900;
        border-bottom: vw(2) solid #eee;
         height: vw(62);
         display: flex;
         justify-content: space-between;
         align-items: center;
         .zuo{
             margin-left: vw(11);
             margin-right: vw(27);
             height: vw(23);
             width: vw(34);
         }
         .header-left{
             display: flex;
             justify-content: flex-end;
             align-items: center;
             width: vw(93.5);
             img{
                 width: vw(15);
                 height: vw(15);
             }
               span{
                   margin-left: vw(3);
                   color: #8d8d8d;
                   font-size: vw(15);
                   line-height: vw(62);
               }
         }
         .logos{
             flex: 1;
             padding: 0 vw(49);
             height: vw(14);
         }
         .header-right{
             height: vw(62);
             width: vw(92);
             display: flex;
             align-items: center;
             span{
                 display: flex;
                 height: vw(62);
                 flex: 1;
                 justify-content: center;
                 align-items: center;
                 color: #8d8d8d;
                font-size: vw(15);
                line-height: vw(62);
            }
        }

        .logos {
            flex: 1;
            padding: 0 vw(49);
            height: vw(14);
        }

        .header-right {
            height: vw(62);
            width: vw(92);
            display: flex;
            align-items: center;

            span {
                display: flex;
                height: vw(62);
                flex: 1;
                justify-content: center;
                align-items: center;
                color: #8d8d8d;
                font-size: vw(15);

                img {
                    width: vw(20);
                    height: vw(20);
                }
            }

            .ge {
                height: vw(15);
                border-left: vw(1) solid #b1b1b1;
            }
        }
    }

    .header-mask {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .2);
        z-index: 50;
        ul {
            padding: vw(7) 0;
            margin-top: vw(62);
            height: vw(106.5);
            background-color: #fafafa;
            display: flex;

            li {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: vw(30);
                    height: vw(30);
                    margin-bottom: vw(10);
                }

                span {
                    margin: vw(10) 0;
                    font-size: vw(15);
                    color: #8d8d8d;
                }
            }

            li+li {
                border-left: solid vw(2) #eee;
            }
        }
    }

    .container {
        flex: 1;
        overflow-y: auto;
        position: relative;
    }

    .footer {
        background-color: #fff;
        z-index: 900;
        display: flex;
        height: vw(50);
        border-top: vw(2) solid #eee;

        li {
            display: flex;
            flex: 1;
            text-align: center;
            line-height: vw(50);

            a {
                flex: 1;
                font-size: vw(15);
                color: #000;
            }
        }

        .jing {
            justify-content: center;
            line-height: vw(50);

            font-size: vw(15);
        }

        li+li::before {
            content: '|';
            text-align: left;
            color: #b1b1b1;
            font-size: vw(12);
        }

        .gotohome {
            line-height: vw(50);
            height: vw(44);
            width: 100%;
            background-color: #ffe32a !important;
            text-align: center;
            color: #000;
            font-size: vw(16);
        }
    }
}

.am-carousel-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
}

// ul{
//     display: flex;
//     height: vw(100);
// }-
.snack {
    flex: 1;

    .snack-box {
        display: flex;
        flex-wrap: wrap;
        padding: vw(8);

        li {
            width: vw(175);
            padding-top: vw(15);
            // box-sizing: border-box;
            // width:49vw;
            // padding:vw(5);
            div {
                width: 100%;

                img {
                    width: 100%;
                }

                .describe {
                    width: 100%;
                    height: vw(50);
                    display: flex;

                    // background-color: #000;
                    .goodsdata {
                        width: vw(135);
                        font-size: vw(12);

                        .goodsName {
                            display: inline-block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            max-width: vw(110);
                        }

                        .tname {
                            // margin-left: vw(10);
                            overflow: hidden;
                            // line-height: vw(10);
                            display: inline-block;
                            white-space: nowrap;
                            background-color: yellow;
                            padding: 0,vw(4),0;
                        }
                        
                        .ename {
                            color: #7f7f7f;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        b {
                            font-weight: normal;
                        }
                    }

                    .cartLogo {
                        width: vw(30);
                        height: vw(30);
                        margin-top: vw(4);
                        margin-right: vw(7.5);
                    }
                }
            }
        }
    }

    li:nth-child(odd) {
        margin-right: vw(9);
    }
    .loading{
        width: 100%;        
        height: vw(100);
        margin:0 auto;
        border-radius: vw(10);
        background: url('../assets/images/loading.gif') no-repeat;
        background-size:  vw(100) vw(70) ;
        background-position: center;
    }
}
.mr10{
    margin-right: vw(10);
}