@import './base.css';
.box {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.box .container {
  flex: 1;
  overflow-y: auto;
}
.box .mask {
  z-index: 999999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.box .mask .drawer {
  position: absolute;
  overflow: auto;
  left: -50vw;
  width: 50vw;
  height: 100%;
  padding-top: 20vw;
  transition: all 0.5s;
  background-color: white;
}
.box .mask .drawer > ul > li {
  box-sizing: border-box;
  padding-left: 5.3333333333vw;
  width: 100%;
  height: 10.6666666667vw;
  line-height: 10.6666666667vw;
  display: flex;
  align-items: center;
}
.box .mask .drawer > ul > li span {
  margin-left: 1.3333333333vw;
}
.box .mask .drawer > ul > li:nth-of-type(1), .box .mask .drawer > ul > li:nth-of-type(4), .box .mask .drawer > ul > li:nth-of-type(5) {
  border-bottom: 1px solid #ccc;
}
.box .mask .drawer > ul > li:nth-of-type(1) span, .box .mask .drawer > ul > li:nth-of-type(4) span, .box .mask .drawer > ul > li:nth-of-type(5) span {
  display: inline-flex;
  height: 5.3333333333vw;
  width: 5.3333333333vw;
  align-items: center;
}
.box .mask .drawer > ul > li:nth-of-type(1) span i, .box .mask .drawer > ul > li:nth-of-type(4) span i, .box .mask .drawer > ul > li:nth-of-type(5) span i {
  display: inline-block;
  border-radius: 50%;
  height: 4.8vw;
  width: 4.8vw;
  font-size: 3.2vw;
  color: #000;
  background-color: #ffe32a;
  font-style: normal;
  line-height: 5.3333333333vw;
  text-align: center;
}
.box .mask .drawer > ul > li:nth-of-type(3), .box .mask .drawer > ul > li:nth-of-type(2) {
  border-bottom: 1px dashed #ccc;
}
.box .mask .drawer > ul > li:nth-of-type(3) span, .box .mask .drawer > ul > li:nth-of-type(2) span {
  display: inline-flex;
  height: 10.6666666667vw;
  width: 10.6666666667vw;
  align-items: center;
}
.box .mask .drawer > ul > li:nth-of-type(3) span .icon, .box .mask .drawer > ul > li:nth-of-type(2) span .icon {
  display: block;
  height: 4.2666666667vw;
  width: 4.2666666667vw;
}
.box .mask .drawer > ul > li:nth-of-type(3) span .sjt, .box .mask .drawer > ul > li:nth-of-type(2) span .sjt {
  background-image: url("../assets//images/sjt.png");
  background-size: 100% 100%;
}
.box .mask .drawer > ul > li:nth-of-type(3) span .yjt, .box .mask .drawer > ul > li:nth-of-type(2) span .yjt {
  background-image: url("../assets/images/yjt.png");
  background-size: 100% 100%;
}
.box .mask .drawer > ul ul li {
  box-sizing: border-box;
  padding-left: 5.3333333333vw;
  width: 100%;
  height: 10.6666666667vw;
  line-height: 10.6666666667vw;
  display: flex;
  align-items: center;
}
.box .mask .drawer > ul ul li .iconLogo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .mask .drawer > ul ul li .iconLogo i {
  width: 5.4933333333vw;
  height: 5.4933333333vw;
  background-image: url("../assets/images/elf.png");
  background-size: 33.3333333333vw 32vw;
}
.box .mask .drawer > ul ul li .select {
  height: 100%;
  width: 33.6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .mask .drawer > ul ul li .select .yjt {
  background-image: url("../assets/images/yjt.png");
  background-size: 100% 100%;
}
.box .mask .drawer > ul ul li .select .icon {
  display: block;
  height: 4.2666666667vw;
  width: 4.2666666667vw;
}
.box .mask .drawer > ul ul li .elf_01 {
  background-position: -13.8666666667vw -0.7466666667vw;
}
.box .mask .drawer > ul ul li .elf_02 {
  background-position: -26.6666666667vw -0.4666666667vw;
}
.box .mask .drawer > ul ul li .elf_03 {
  background-position: -20.2666666667vw -0.76736vw;
}
.box .mask .drawer > ul ul li .elf_04 {
  background-position: -1.6vw -6.9333333333vw;
}
.box .mask .drawer > ul ul li .elf_05 {
  background-position: -8vw -6.9333333333vw;
}
.box .mask .drawer > ul ul li .elf_06 {
  background-position: -14.1333333333vw -6.9333333333vw;
}
.box .mask .drawer > ul ul li .elf_07 {
  background-position: -7.7333333333vw -0.8vw;
}
.box .mask .drawer > ul ul li .elf_08 {
  background-position: -1.3006933333vw -0.8vw;
}
.box .mask .drawer > ul ul li .elf_09 {
  background-position: -20vw -6.9333333333vw;
}
.box .mask .pop {
  opacity: 0;
  position: absolute;
  height: 32vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  background-color: #fff;
  border-radius: 2.6666666667vw;
  transition: all 0.3s;
  overflow: hidden;
}
.box .mask .pop .pop-header {
  padding: 4vw 2vw 0;
}
.box .mask .pop .pop-header .pop-title {
  height: 5.3333333333vw;
  font-size: 4vw;
  text-align: center;
  color: #333333;
}
.box .mask .pop .pop-content {
  padding: 2.6666666667vw 5.3333333333vw 4vw;
  border-bottom: 1px solid #ddd;
}
.box .mask .pop .pop-content .pop-msg {
  color: #999999;
  font-size: 3.4666666667vw;
  line-height: 180%;
  text-align: center;
}
.box .mask .pop .pop-btnAll {
  display: flex;
  height: 10.1333333333vw;
  font-size: 4vw;
  line-height: 10.1333333333vw;
}
.box .mask .pop .pop-btnAll .btn1 {
  flex: 1;
  background-color: #857a72;
  border: none;
  color: #fff;
}
.box .mask .pop .pop-btnAll .btn2 {
  flex: 1;
  background-color: #ffe32a;
  border: none;
  color: #000;
}
.box .header {
  background-color: #fff;
  z-index: 900;
  border-bottom: 0.5333333333vw solid #eee;
  height: 16.5333333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .header .zuo {
  margin-left: 2.9333333333vw;
  margin-right: 7.2vw;
  height: 6.1333333333vw;
  width: 9.0666666667vw;
}
.box .header .header-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 24.9333333333vw;
}
.box .header .header-left img {
  width: 4vw;
  height: 4vw;
}
.box .header .header-left span {
  margin-left: 0.8vw;
  color: #8d8d8d;
  font-size: 4vw;
  line-height: 16.5333333333vw;
}
.box .header .logos {
  flex: 1;
  padding: 0 13.0666666667vw;
  height: 3.7333333333vw;
}
.box .header .header-right {
  height: 16.5333333333vw;
  width: 24.5333333333vw;
  display: flex;
  align-items: center;
}
.box .header .header-right span {
  display: flex;
  height: 16.5333333333vw;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #8d8d8d;
  font-size: 4vw;
  line-height: 16.5333333333vw;
}
.box .header .logos {
  flex: 1;
  padding: 0 13.0666666667vw;
  height: 3.7333333333vw;
}
.box .header .header-right {
  height: 16.5333333333vw;
  width: 24.5333333333vw;
  display: flex;
  align-items: center;
}
.box .header .header-right span {
  display: flex;
  height: 16.5333333333vw;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #8d8d8d;
  font-size: 4vw;
}
.box .header .header-right span img {
  width: 5.3333333333vw;
  height: 5.3333333333vw;
}
.box .header .header-right .ge {
  height: 4vw;
  border-left: 0.2666666667vw solid #b1b1b1;
}
.box .header-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
}
.box .header-mask ul {
  padding: 1.8666666667vw 0;
  margin-top: 16.5333333333vw;
  height: 28.4vw;
  background-color: #fafafa;
  display: flex;
}
.box .header-mask ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .header-mask ul li img {
  width: 8vw;
  height: 8vw;
  margin-bottom: 2.6666666667vw;
}
.box .header-mask ul li span {
  margin: 2.6666666667vw 0;
  font-size: 4vw;
  color: #8d8d8d;
}
.box .header-mask ul li + li {
  border-left: solid 0.5333333333vw #eee;
}
.box .container {
  flex: 1;
  overflow-y: auto;
  position: relative;
}
.box .footer {
  background-color: #fff;
  z-index: 900;
  display: flex;
  height: 13.3333333333vw;
  border-top: 0.5333333333vw solid #eee;
}
.box .footer li {
  display: flex;
  flex: 1;
  text-align: center;
  line-height: 13.3333333333vw;
}
.box .footer li a {
  flex: 1;
  font-size: 4vw;
  color: #000;
}
.box .footer .jing {
  justify-content: center;
  line-height: 13.3333333333vw;
  font-size: 4vw;
}
.box .footer li + li::before {
  content: "|";
  text-align: left;
  color: #b1b1b1;
  font-size: 3.2vw;
}
.box .footer .gotohome {
  line-height: 13.3333333333vw;
  height: 11.7333333333vw;
  width: 100%;
  background-color: #ffe32a !important;
  text-align: center;
  color: #000;
  font-size: 4.2666666667vw;
}

.am-carousel-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
}

.snack {
  flex: 1;
}
.snack .snack-box {
  display: flex;
  flex-wrap: wrap;
  padding: 2.1333333333vw;
}
.snack .snack-box li {
  width: 46.6666666667vw;
  padding-top: 4vw;
}
.snack .snack-box li div {
  width: 100%;
}
.snack .snack-box li div img {
  width: 100%;
}
.snack .snack-box li div .describe {
  width: 100%;
  height: 13.3333333333vw;
  display: flex;
}
.snack .snack-box li div .describe .goodsdata {
  width: 36vw;
  font-size: 3.2vw;
}
.snack .snack-box li div .describe .goodsdata .goodsName {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 29.3333333333vw;
}
.snack .snack-box li div .describe .goodsdata .tname {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  background-color: yellow;
  padding: 0, 1.0666666667vw, 0;
}
.snack .snack-box li div .describe .goodsdata .ename {
  color: #7f7f7f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.snack .snack-box li div .describe .goodsdata b {
  font-weight: normal;
}
.snack .snack-box li div .describe .cartLogo {
  width: 8vw;
  height: 8vw;
  margin-top: 1.0666666667vw;
  margin-right: 2vw;
}
.snack li:nth-child(odd) {
  margin-right: 2.4vw;
}
.snack .loading {
  width: 100%;
  height: 26.6666666667vw;
  margin: 0 auto;
  border-radius: 2.6666666667vw;
  background: url("../assets/images/loading.gif") no-repeat;
  background-size: 26.6666666667vw 18.6666666667vw;
  background-position: center;
}

.sadd {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 13.3333333333vw;
  width: 60vw;
  border-radius: 2.6666666667vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5;
}

.mr10 {
  margin-right: 2.6666666667vw;
}