@import './vw.scss';

.cart-box{
    flex: 1;
    .cart-mask{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 5000;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            background-color: #fff;
            height: vw(121);
            width: vw(318);
            border-radius: vw(10);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            h4{
                height: vw(35);
                padding-top: vw(15);
                color: #333;
                font-size: vw(15);
                text-align: center;
            }
            .mask-ti{
                height: vw(48.5);
                color: #888;
                font-size: vw(12.75);
                padding-top: vw(10);
                text-align: center;
            }
            .mask-an{
                flex: 1;
                display: flex;
                color: #fff;
                font-size: vw(15);
                span{
                    flex: 1;
                    line-height: vw(37.5);
                    text-align: center;
                }
                span:nth-child(1){
                    background-color: #857a72;
                }
                span:nth-child(2){
                    color: #000;
                    background-color: #ffe32a;
                }
            }
        }
    }
    .no-cart-box{
        .no-cart-box-pic{
            box-sizing: border-box;
            height: vw(189);
            padding-top: vw(150);
            background: url('../assets/images/Cart/cart-empty.png') no-repeat center vw(36);
            background-color: #c2c2c2;
            p{
                font-size: vw(14.5);
                color: #fff;
                text-align: center;
                .tohome{
                    text-decoration: underline;
                }
            }
        }
        .no-cart-list{
            margin-bottom: vw(59);
            h2{
                height: vw(41);
                padding-left: vw(20);
                line-height: vw(41);
                font-size: vw(17);
                font-weight: 700;
                color: #000;
            }
            .recommend_list{
                display: flex;
                flex-wrap: wrap;
                padding: vw(7.5) vw(7.5) 0 vw(7.5);
                .recommend_item{
                    width: vw(180);
                    height: vw(248.5);
                    .recommend_item_box{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        &>img{
                            width: vw(172);
                            height: vw(172);
                        }
                        .recommend_item_figc{
                            display: flex;
                            height: vw(42);
                            .recommend_item_title{
                                width: vw(135);
                                height: vw(42);
                                .recommend_item_name{
                                    box-sizing: border-box;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    height: vw(23);
                                    font-size: vw(13);
                                    padding: vw(7.8) vw(5.2) vw(4) vw(5.2);
                                }
                                .recommend_item_french{
                                    box-sizing: border-box;
                                    height: vw(15);
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    color: #7f7f7f;
                                    font-size: vw(12);
                                    padding: 0 vw(3.75);
                                    margin-top: vw(3);
                                }
                            }
                            .recommend_item_buy{
                                width: vw(30);
                                height: vw(30);
                                background: url('../assets/images/cart-icon.png');
                                background-size: 100% 100%;
                            }
                            
                        }
                        .recommend_item_price{
                            margin-left: vw(20);
                            margin-top: vw(10);
                            text-align: left;
                            width: 100%;
                            font-size: vw(13);
                            b{
                                color: #000;
                                font-size: vw(10);
                                vertical-align: baseline!important;
                            }
                        }
                    }
                }
            }
        }
    }
    .cart-box{
        box-sizing: border-box;
        .cart-box-list{
            display: flex;
            flex-direction: column;
            padding: vw(7.5);
            li+li{
                border-top: vw(1) solid #c2c2c2;
            }
            li{
                height: vw(150);
                overflow-x: scroll;
                overflow-y: hidden;
                &::-webkit-scrollbar{width:0px}
                .cart-item-box{
                    box-sizing: border-box;
                    padding:vw(7.5) 0;
                    height: vw(150);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: vw(430);
                    
                    img{
                        width: vw(89);
                    }
                    .cart-item-content-box{
                        height: vw(89);
                        width: vw(190) !important;
                        padding-left: vw(15);
                        .cart-item-content-top{
                            height: vw(35);
                            display: flex;
                            margin-top: vw(10);
                            .cart-item-content-title{
                                width: vw(174);
                                .chinese{
                                    font-weight: 700;
                                    font-size: vw(12);
                                    height: vw(16.8);
                                }
                                .french{
                                    font-size: vw(12);
                                    color: #848484;
                                    height: vw(16.8);
                                }
                            }
                        }
                        .cart-item-content-btm{
                            display: flex;
                            height: vw(16.8);
                            font-size: vw(12);
                            margin-top: vw(15);
                            .cart-item-price{
                                width: vw(93);
                                font-weight: 700;
                            }
                            .cart-item-wight{
                                flex: 1;
                                text-align: right;
                            }
                        }
                    }
                    .delete-item{
                        flex-shrink: 0;
                        width: vw(56);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0 vw(5) vw(5) 0;
                        background-color: red;
                        height: 100%;
                        font-size: vw(13);
                        color: #fff;
                    }
                }
                
            }
            
        }
        .cart-list{
            height: vw(186);
            .recommend_goods{
                height: vw(41);
                padding-left: vw(20);
                line-height: vw(41);
                font-size: vw(15);
                font-weight: 700;
                color: #000;
            }
            .recommend_list{
                display: flex;
                height: vw(160);
                overflow-x: scroll;
                overflow-y: hidden;
                padding: 0 vw(10);
                margin-bottom: vw(60);
                &::-webkit-scrollbar{width:0px}
                li{ 
                    flex-shrink: 0;
                    margin: 0 vw(2);
                    figure{
                        width: vw(101);
                        margin: 0;
                        img{
                            width: 100%;
                        }
                        figcaption{
                            position: relative;
                            font-size: vw(13);
                            .recommend_item_tilte{
                                line-height: vw(20);
                                height: vw(20);
                            }
                            .recommend_item_add{
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                width: vw(24);
                                height: vw(24);
                                background-image: url("../assets/images/cart-icon.png");
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


    input[type="checkbox"]{
        width: vw(15);
        height: vw(15);
        text-align: center;
        vertical-align: middle;
        border: none;
        appearance: none;/*关键代码*/
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        background-image: url("../assets/images/Cart/uncheck.png");
        background-size: 100% 100%;
        margin: 0 vw(10);
    }
    input[type="checkbox"]:checked{
        background-image: url("../assets/images/Cart/checked.png");
    }

.cart-footer{
    position: fixed;
    bottom: 0;
    display: flex;
    height: vw(59);
    width: 100%;
    align-items: center;
    background-color: #fff;
    .gotohome{
        line-height: vw(44);
        height: vw(44);
        width: 100%;
        background-color: #ffe32a!important;
        text-align: center;
        color: #000;
        font-size: vw(17);
    }
}

.cart-pay-footer{
    position: fixed;
    bottom: 0;
    display: flex;
    height: vw(48);
    width: 100%;
    align-items: center;
    background-color: #fff;
    font-size: vw(16);
    .totalPrice{
        margin-left: vw(20);
        flex: 1;
    }
    .pay{
        width: vw(107);
        background-color: #ffe32a;
        color: #000;
        height: 100%;
        font-size: vw(18);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}