@import './vw.scss';

.cart-box{
    flex: 1;
    .no-cart-box{
        .no-cart-box-pic{
            box-sizing: border-box;
            height: vw(189);
            padding-top: vw(150);
            background: url('../assets/images/Cart/cart-empty.png') no-repeat center vw(36);
            background-color: #c2c2c2;
            p{
                font-size: vw(14.5);
                color: #fff;
                text-align: center;
                .tohome{
                    text-decoration: underline;
                }
            }
        }
        .no-cart-list{
            h2{
                height: vw(41);
                padding-left: vw(20);
                line-height: vw(41);
                font-size: vw(17);
                font-weight: 700;
                color: #000;
            }
            .recommend_list{
                display: flex;
                flex-wrap: wrap;
                padding: 0 vw(7);
                .recommend_item{
                    width: vw(180);
                    height: vw(248.5);
                    .recommend_item_box{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img{
                            width: vw(172);
                            height: vw(172);
                        }
                    }
                }
            }
        }
    }
}


.recommend_goods{

}

.cart-footer{
    position: fixed;
    bottom: 0;
    display: flex;
    height: vw(59);
    width: 100%;
    align-items: center;
    .gotohome{
        line-height: vw(44);
        height: vw(44);
        width: 100%;
        background-color: #ffe32a!important;
        text-align: center;
        color: #000;
        font-size: vw(17);
    }
}