@import './vw.scss';
.detailsContainer{
background-color: #fff;

.detailsMain{
    // width: 100%;
    padding: vw(7) vw(7) 0;
    .mainTitle{
        height: vw(75);
        display: flex;
        color: #8d8d8d;
        font-size: vw(14);
        border-bottom: vw(1) solid #e9e9e9;
        li{
            box-sizing: border-box;
            flex: 1;
            height: 100%;
            padding: vw(5);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span{
                font-size: vw(12);
            }
        }
        .activeWeight{
            border-bottom: vw(2) solid #ffe32a;
            color: #000;
        }
    }
    .mainCon{
        li{
            border-bottom: vw(1) solid #e9e9e9;
        }
        .mainprice{
            color: #000;
            font-size: vw(12);
            height: vw(30);
            padding: vw(7) 0;
            line-height: vw(36);
            span{
                margin-left: vw(10);
                font-size: vw(22);
            }
        }
        .mainGuige{
            height: vw(64);
            padding-top: vw(7);
            font-size: vw(12);
            color: #8d8d8d;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            p{
                flex-wrap: 0;
                padding-right: vw(35);
            }
        }
    }
}

.noChange{
    font-size: vw(12);
    color: #000;
    padding: 0 vw(7);
    .floor{
        border-bottom: 1px solid #e9e9e9;
    }
    .musi{
        padding: vw(11) 0;
        span{
            display: inline-block;
            height: vw(22);
            // width: vw(54);
            padding:0 vw(15);
            margin-left: vw(20);
            border-radius: vw(4);
            border: 1px solid #c3c3c3;
            text-align: center;
            line-height: vw(22);
        }
    }
    .tips{
        color: #f0250f;
        height: vw(28);
        padding: vw(7.5) 0;
        line-height: vw(28);
        span{
            display: inline-block;
            width: vw(16);
            height: vw(16);
            line-height: vw(16);
            text-align: center;
            border: 1px solid #f0250f;
            border-radius: 50%;
            margin-right: vw(8);
        }
    }

    .describe{
        p{
            line-height: vw(20);
        }
        :nth-child(2){
            color: #8d8d8d;
        }
    }

    .promotion{
        display: flex;
        color: #8d8d8d;
        padding-top: vw(12);
        span{
            display: block;
            width: vw(42);
        }
        ul{
            flex: 1;
            li{
                margin-bottom: vw(15);
                i{
                    font-style: normal;
                    padding: vw(2) vw(8);
                    color: #f0250f;
                    border: 1px solid #f0250f;
                    border-radius: vw(20);
                    margin-right: vw(8);
                }
            }
            
        }
    }

}

.product{  
        height: vw(43);
        display: flex;
        padding: vw(7.5);
        span{
            flex: 1;
            text-align: center;
            line-height: vw(43);
            border-bottom: vw(1) solid #eee;
            font-size: vw(18.75);
            color: #8d8d8d;
            line-height: vw(43);
        }
        .active{
            color: #000;
            border-bottom: vw(2) solid #ffe32a;
        }
    
}
.kouwei{
    padding: vw(7.5);
    padding-top: vw(8);
    padding-bottom: 0;
    >p{
         display: flex;
         justify-content: space-between;
         padding: 0 vw(10);
         height: vw(18.5);
         font-size: vw(12);
         >span:nth-child(1){
             color: #8d8d8d;
         }
         >span:nth-child(2){
             color: #000;
        }
    }
}
.country{
    padding:0 vw(7.5);
    font-size: vw(12);
    display: flex;
    flex-wrap: wrap;
    span{
        flex-shrink: 0;
        height: vw(22);
        padding: vw(5);
        display: flex;
        align-items: center;
        // display: inline-block;
        img{
            width: vw(20.83);
            height: vw(13.38);
            margin-left: vw(10);
        }
    }
    
}
.datail-img{
    margin-bottom: vw(60);
    p{
        img{
            width: 100%;
        }
    }
}
.datail-caozuo{
    width: 100%;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    height: vw(60);
    padding: vw(7.5) 0;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    span{
       width: vw(176.25);
       line-height: vw(45);
       border-radius: vw(10);
       text-align: center;
       font-size: vw(17);
    }
    >span:nth-child(1){
        background-color: #8d8d8d;
        color: #fff;
    }
    >span:nth-child(2){
        background-color: #ffe32a;
        color: #000;
    }
}
.details-mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        background-color: #fff;
        height: vw(121);
        width: vw(318);
        border-radius: vw(10);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        h4{
            height: vw(35);
            padding-top: vw(15);
            color: #333;
            font-size: vw(15);
            text-align: center;
        }
        .mask-ti{
            height: vw(48.5);
            color: #888;
            font-size: vw(12.75);
            padding-top: vw(10);
            text-align: center;
        }
        .mask-an{
            flex: 1;
            display: flex;
            color: #fff;
            font-size: vw(15);
            span{
                flex: 1;
                line-height: vw(37.5);
                text-align: center;
            }
            span:nth-child(1){
                background-color: #857a72;
            }
            span:nth-child(2){
                color: #000;
                background-color: #ffe32a;
            }
        }
    }
}
.detail-tishi{
    position: fixed;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    span{
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        height: vw(40);
        font-size: vw(15);
        padding: vw(10);
        border-radius: vw(5);
    }
}
}