@import './vw.scss';
.detailsMain{
    // width: 100%;
    padding: vw(7) vw(7) 0;
    .mainTitle{
        height: vw(75);
        display: flex;
        color: #8d8d8d;
        font-size: vw(14);
        border-bottom: vw(1) solid #e9e9e9;
        li{
            box-sizing: border-box;
            flex: 1;
            height: 100%;
            padding: vw(5);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span{
                font-size: vw(12);
            }
        }
        .activeWeight{
            border-bottom: vw(2) solid #ffe32a;
            color: #000;
        }
    }
    .mainCon{
        li{
            border-bottom: vw(1) solid #e9e9e9;
        }
        .mainprice{
            color: #000;
            font-size: vw(12);
            height: vw(30);
            padding: vw(7) 0;
            line-height: vw(36);
            span{
                margin-left: vw(10);
                font-size: vw(22);
            }
        }
        .mainGuige{
            height: vw(64);
            padding-top: vw(7);
            font-size: vw(12);
            color: #8d8d8d;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            p{
                flex-wrap: 0;
                padding-right: vw(35);
            }
        }
    }
}

.noChange{
    font-size: vw(12);
    color: #000;
    padding: 0 vw(7);
    .floor{
        border-bottom: 1px solid #e9e9e9;
    }
    .musi{
        padding: vw(11) 0;
        span{
            display: inline-block;
            height: vw(22);
            // width: vw(54);
            padding:0 vw(15);
            margin-left: vw(20);
            border-radius: vw(4);
            border: 1px solid #c3c3c3;
            text-align: center;
            line-height: vw(22);
        }
    }
    .tips{
        color: #f0250f;
        height: vw(43);
        padding: vw(7.5) 0;
        line-height: vw(28);
        span{
            display: inline-block;
            width: vw(16);
            height: vw(16);
            line-height: vw(16);
            text-align: center;
            border: 1px solid #f0250f;
            border-radius: 50%;
            margin-right: vw(8);
        }
    }

    .describe{
        p{
            line-height: vw(20);
        }
        :nth-child(2){
            color: #8d8d8d;
        }
    }

    .promotion{
        display: flex;
        color: #8d8d8d;
        padding-top: vw(12);
        span{
            display: block;
            width: vw(42);
        }
        ul{
            flex: 1;
            li{
                margin-bottom: vw(15);
                i{
                    font-style: normal;
                    padding: vw(2) vw(8);
                    color: #f0250f;
                    border: 1px solid #f0250f;
                    border-radius: vw(20);
                    margin-right: vw(8);
                }
            }
            
        }
    }

}

.product{
    .proSim{
        display: flex;
        align-items: center;
        justify-content: center;
        height: vw(250);
        background-color: #fff;
    }
}
