@import './vw.scss';

.floor{
    width: 100%;
    .title{
        box-sizing: border-box;
        height: vw(98);
        padding: vw(30) vw(23);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: vw(12);
        color: #7f7f7f;
        border-top: vw(.5) solid #eaeaea;
        img{
            width: vw(57);
            height: vw(32);
        }
        .titleCon{
            flex: 1;
            margin-left: vw(25);
            .cname{
                color: #000;
                font-size: vw(16);
                font-weight: 550;
            }
        }
    }
    .bigImg{
        img{
            width: 100%;
            height: vw(190); 
        }
    }
    .floorCon{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;padding: vw(4);
        color: #000;
        font-size: vw(12);
        .conProduct{
            box-sizing: border-box;
            width: vw(183);
            height: vw(243);
            padding: 0 vw(4);
            position: relative;
            .conImg{
                padding: vw(4) 0;
               img{
                width: vw(175);
                height: vw(175);
                } 
            }
            p{
                color: #7f7f7f;
            }
            i{
                display: block;
                position: absolute;
                right: vw(10);
                bottom: vw(22);
                img{
                    width: vw(30);
                    height: vw(30);
                }
            }
        }
    }
}

.cartMask{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: .3);
    display: flex;
    justify-content: center;
    align-items: center;
    .maskCon{
        width: vw(338);
        // height: vw(258);
        background-color: #fff;
        border-radius: vw(5);
        font-size: vw(12);
        color: #8d8d8d;
        padding-top: vw(10);
        ul{
        .contentDesc{
            display: flex;
            padding: 0 vw(10) vw(10);
            position: relative;
            .disc{
                width: vw(99);
                margin: 0 vw(20);
                padding-top: vw(4);
                h5{
                    color: #000;
                    font-weight: 500;
                }
                p{
                    margin: vw(4) 0;
                }
            }
            .closeBtn{
                display: inline-block;
                width: vw(25);
                height: vw(25);
                position: absolute;
                top: 0;
                right: 0;
                font-size: vw(16);
            }
        }

        .choose{
            border-top: vw(1) solid #eaeaea;
            height: vw(48);
            padding: 0 vw(16);
            display: flex;
            justify-content: space-between;
            line-height: vw(48);
            font-weight: 500;
        }

        .specification{
            .chooseSpecify{
                
            }
        }
        .number{
            .chooseQty{
                input{
                    outline: none;
                    border: none;
                    width: vw(28);
                    height: vw(28);
                    text-align: center;
                }
                input[type="button"]{
                    background-color: #ffe32a;
                }
            }
        }
        }

        .sureButton{
            height: vw(45);
            button{
                width: 50%;
                outline: none;
                border: none;
                line-height: vw(45);
            }
            :nth-child(1){
                color: #fff;
                background-color: #888;
            }
            :nth-child(2){
                color: #000;
                background-color: #ffe32a;
            }
        }
    }
}

.division{
    height: vw(208);
    width: 100%;
    padding: vw(7.5);
    box-sizing: border-box;
    .title{
        padding:vw(14) 0;
        font-size: vw(14);
        font-weight: 700;
        color: #151515;
        text-align: center;
        span{
            margin-left: vw(4);
        }
    }
    .divisionImg{
        width: 100%;
        img{
            width: vw(360);
            height: vw(144);
        }
    }
}

.homeBottom{
    width: 100%;
    height: vw(362);
    background-color: #000;
    color: #8D8d8d;
    font-size: vw(12);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: vw(56);
    box-sizing: border-box;
    text-align: center;
    li:not(.copyRight){
        width: vw(112);
    }
    .footerLogo{
        img{
            height: vw(16);
        }
    }
    .wxCode{
        margin: vw(28) 0;
        img{
            width: 100%;
            height: vw(112);
        }
    }
    .chat{
        display: flex;
        justify-content: space-around;
        margin-bottom: vw(20);
        img{
            width: vw(38);
            height: vw(38);
        }
    }
}